<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
    </div>
  </div>
</form>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{('NO' | translate)}}</th>
        <th scope="col">{{('EMAIL' | translate)}}</th>
        <th scope="col">{{('ADDRESS' | translate)}}</th>
        <th scope="col">{{('AOG' | translate)}} (kg)</th>
        <th scope="col">{{('PRICE' | translate)}} (Rp)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of historys; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{history.name}}</td>
        <td>{{history.address}}</td>
        <td>{{history.total}}</td>
        <td>{{history.totalHarga}}</td>
      </tr>
    </tbody>
  </table>
