<!-- <button type="button" class="btn btn-primary mb-5" (click)="showbutton()">Show Button or Hide Button</button>

<form *ngIf="show; else notshow">
  <div class="card mb-5">
    <h5 class="card-header">
      Form Input
    </h5>
    <div class="card-body">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Your name</label>
        <input type="text" class="form-control" [(ngModel)]="name" placeholder="Input your name" name="name" />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Your age</label>
        <input type="number" class="form-control" [(ngModel)]="age" placeholder="Your age" name="age" />
      </div>
      <button *ngIf="!edit" type="button" class="btn btn-primary" (click)="doAddPerson()">
        <i class="bi bi-person-plus mx-1"></i>Tambah Data</button>
      <button *ngIf="edit" type="button" class="btn btn-primary" (click)="doEditPerson()"><i
          class="bi bi-person-plus mx-1"></i>Update Data</button>
    </div>
  </div>
</form>

<ng-template #notshow>
  <p>ininni</p>
</ng-template>

<ng-container [ngSwitch]="age">
  <ng-container *ngSwitchCase="1">1</ng-container>
  <ng-container *ngSwitchCase="2">2</ng-container>
  <ng-container *ngSwitchCase="3">3</ng-container>
  <ng-container *ngSwitchDefault>default</ng-container>
</ng-container>

<div [ngClass]="age === 1 ? 'alert alert-primary' : age === 2 ? 'alert alert-success' : 'alert alert-danger' "
  role="alert">
  A simple primary alert—check it out!
</div>

<div>
  <ng-container *ngFor="let item of person">
    <app-card-name [data]="item" (cardValueDelete)="doDelete($event)" (cardValueEdit)="doEdit($event)"></app-card-name>
  </ng-container>
</div> -->