<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">No</th>
    <th scope="col">Nama</th>
    <th scope="col">Alamat</th>
    <th scope="col">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries$ | async; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2" style="width: 20px">
      <ngb-highlight [result]="country.name" [term]="filter.value"></ngb-highlight>
    </td>
    <td><ngb-highlight [result]="country.area | number" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="country.population | number" [term]="filter.value"></ngb-highlight></td>
  </tr>
  </tbody>
</table>

<!-- <div>
  <h1>1. Pie chart</h1>
  <canvas #pieCanvas style="height:20vh; width:40vw"></canvas>
  <hr color="red">
</div> -->

<!-- <div>
  <h1>2. Bar chart</h1>
  <canvas #barCanvas style="height:10vh; width:20vw"></canvas>
  <hr color="red">
</div> -->
<div>
  <h1>2. Polar chart</h1>
  <canvas #polarCanvas style="height:10vh; width:20vw"></canvas>
  <hr color="red">
</div>
