<div>
    <h1>{{('AOG' | translate)}}</h1>
    <canvas #barCanvas style="height:10vh; width:20vw"></canvas>
</div>

<table class="table table-striped table-hover text-center">
    <thead>
        <tr>
            <th scope="col">{{('MONTH' | translate)}}</th>
            <th scope="col">{{('PLASTIC' | translate)}} (kg) </th>
            <th scope="col">{{('GLASS' | translate)}} (kg)</th>
            <th scope="col">{{('PAPER' | translate)}} (kg)</th>
            <th scope="col">{{('CLOTH' | translate)}}(kg)</th>
            <th scope="col">{{('OTHER' | translate)}} (kg)</th>
            <th scope="col">{{('TOTAL' | translate)}} (kg)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let garbage of amountOfGarbages; let i = index">
            <th scope="row">{{garbage.bulan}}</th>
            <td>{{garbage.sampahPlastik}}</td>
            <td>{{garbage.sampahKertas}}</td>
            <td>{{garbage.sampahBotol}}</td>
            <td>{{garbage.sampahKain}}</td>
            <td>{{garbage.sampahLainnya}}</td>
            <td>{{garbage.total}}</td>
        </tr>
    </tbody>
</table>

<!-- <ul class="pagination ">
    <li class="page-item">
        <a class="page-link" (click)="tooShort()" [ngClass]="min ? 'disabled' : ''">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li class="page-item"><a [ngClass]="page === 1 ? 'active' : ''" class="page-link" (click)="next(1)">1</a></li>
    <li class="page-item"><a [ngClass]="page === 2 ? 'active' : ''" class="page-link" (click)="next(2)">2</a></li>
    <li class="page-item"><a [ngClass]="page === 3 ? 'active' : ''" class="page-link" (click)="next(3)">3</a></li>
    <li class="page-item">
        <a class="page-link" (click)="tooMuch()" [ngClass]="max ? 'disabled' : ''">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul> -->