#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #131ae8;
}

