<nav id="sidebar">
    <div class="d-flex flex-column flex-shrink-0" >
        <div class="sidebar-header">
            <img src="https://i.pinimg.com/474x/10/1a/8a/101a8a4f23dbe77d54194b3705665e67.jpg" height="45" class="mx-2"
                alt="angular_logo" />
            <span class="fs-4" >{{'MENU' | translate}}</span>
        </div>
        <ul class="nav nav-pills flex-column mx-3 mt-2">
            <li>
                <a routerLink="home" routerLinkActive="active" class="nav-link link-dark">
                    <i class="bi bi-house mx-1"></i>
                    {{'HOME' | translate}}
                </a>
            </li>
            <li>
                <a routerLink="pickandpack" routerLinkActive="active" class="nav-link link-dark">
                    <i class="bi bi-trash mx-1"></i>
                    {{'PICKPACK' | translate}}
                </a>
            </li>
            <li>
                <a routerLink="history" routerLinkActive="active" class="nav-link link-dark">
                    <i class="bi bi-card-checklist mx-1"></i>
                    {{'HISTORY' | translate}}
                </a>
            </li>
            <li>
                <a routerLink="jumlahsampah" routerLinkActive="active" class="nav-link link-dark">
                    <i class="bi bi-file-earmark-bar-graph mx-1"></i>
                    {{'AOG' | translate}}
                </a>
            </li>  
            <li>
                <a routerLink="profile" routerLinkActive="active" class="nav-link link-dark">
                    <i class="bi bi-person mx-1"></i>
                    {{'PROFILE' | translate}}
                </a>
            </li>
        </ul>
        <hr/>
        <ul class="nav nav-pills flex-column mx-3">
            <li class="nav-item">
                <a routerLink="login" routerLinkActive="active" class="nav-link link-dark" (click)="doLogout()">
                    <i class="bi bi-box-arrow-left mx-1"></i>
                    {{'LOGOUT' | translate}}
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-translate mx-1"></i>
                    {{'LANGUAGE' | translate}}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item"(click)="doTranslate('id')">(ID) Indonesia</a></li>
                  <li><a class="dropdown-item" (click)="doTranslate('ind')">(IND) इंडिया</a></li>
                  <li><a class="dropdown-item" (click)="doTranslate('en')">(EN) English</a></li>
                  <li><a class="dropdown-item" (click)="doTranslate('ar')">(AR) عربي</a></li>
                </ul>
              </li>
        </ul>
    </div>
</nav>

