<div class="d-flex vh-100">
    <div class="w-25">
        <app-sidenav></app-sidenav>
    </div>
    <div class="container overflow-auto vw-100">
        <div class="m-3 p-3 shadow-lg bg-white">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
