<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                  <div class="container mt-4 ">
                    <h5>Marie Horwitz</h5>
                  </div>
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>{{('INFO' | translate)}}</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>{{('EMAIL' | translate)}}</h6>
                      <p class="text-muted">info@example.com</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>{{('ADDRESS' | translate)}}</h6>
                      <p class="text-muted">Alamat</p>
                    </div>
                  </div>
                  
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>{{('BALANCE' | translate)}}</h6>
                      <p class="text-muted">0.00</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>{{('POINT' | translate)}}</h6>
                      <p class="text-muted">0</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
