.gradient-custom {
    /* fallback for old browsers */
    background: #131ae8;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(0, 4, 254), rgb(255, 255, 255));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(1, 13, 255), rgb(251, 251, 251))
    }