<section>
  <div class="p-5 bg-image" style="background-color: #131ae8; height: 300px;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <form [formGroup]="formRegister">
              <div class="card-body p-5 ">
                <h3 class="mb-5 text-center">
                  <img src="https://i.pinimg.com/564x/9f/71/15/9f7115f23a3da8aae0fb243ed9a5d1e2.jpg" height="50"
                    class="mx-2" alt="angular_logo" />
                  {{'REGISTER' | translate}}
                </h3>
                <div class="form-outline mb-4">
                  <label for="exampleFormControlInput1" class="form-label">{{'NAME' | translate }}</label>
                  <input type="text" class="form-control" formControlName="name" name="name"
                    placeholder="{{('INPUT' | translate)+' '+('NAME' | translate)+' '+('HERE' | translate) }}" />
                  <div
                    *ngIf="(errorControl['name'].dirty || errorControl['name'].touched ) && errorControl['name'].errors">
                    <span *ngIf="errorControl['name'].errors['required']" class="text-danger">
                      {{('NAME' | translate)+' '+('REQUIRED' | translate)}}
                    </span>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label for="exampleFormControlInput1" class="form-label">{{'EMAIL' | translate }}</label>
                  <input type="email" class="form-control" formControlName="email" name="email"
                    placeholder="{{('INPUT' | translate)+' '+('EMAIL' | translate)+' '+('HERE' | translate) }}" />
                  <div
                    *ngIf="(errorControl['email'].dirty || errorControl['email'].touched ) && errorControl['email'].errors">
                    <span *ngIf="errorControl['email'].errors['required']" class="text-danger">
                      {{('EMAIL' | translate)+' '+('REQUIRED' | translate)}}
                    </span>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label for="exampleFormControlInput1" class="form-label">{{'PHONE' | translate }}</label>
                  <input type="number" class="form-control" formControlName="phone" name="phone"
                    placeholder="{{('INPUT' | translate)+' '+('PHONE' | translate)+' '+('HERE' | translate) }}" />
                  <div *ngIf="(errorControl['phone'].dirty || errorControl['phone'].touched ) && errorControl['phone'].errors">
                    <span *ngIf="errorControl['phone'].errors['required']" class="text-danger">
                      {{('PHONE' | translate)+' '+('REQUIRED' | translate)}}
                    </span>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label for="exampleFormControlInput1" class="form-label">{{'ADDRESS' | translate }}</label>
                  <input type="text" class="form-control" formControlName="alamat" name="alamat"
                    placeholder="{{('INPUT' | translate)+' '+('ADDRESS' | translate)+' '+('HERE' | translate) }}">
                  <div *ngIf="(errorControl['alamat'].dirty || errorControl['alamat'].touched ) && errorControl['alamat'].errors">
                    <span *ngIf="errorControl['alamat'].errors['required']" class="text-danger">{{('ADDRESS' | translate)+'
                      '+('REQUIRED' | translate)}}</span>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label for="exampleFormControlInput1" class="form-label">{{'PASSWORD' | translate }}</label>
                  <div class="input-group">
                    <input type="{{isPass ? 'password' : 'text'}}" class="form-control" formControlName="password"
                      name="password"
                      placeholder="{{('INPUT' | translate)+' '+('PASSWORD' | translate)+' '+('HERE' | translate) }}" />
                    <span class="input-group-text" id="basic-addon1">
                      <i class="bi" [ngClass]="isPass ? 'bi-eye' : 'bi-eye-slash'" (click)="doChangeType()"></i>
                    </span>
                  </div>
                  <div
                    *ngIf="(errorControl['password'].dirty || errorControl['password'].touched ) && errorControl['password'].errors">
                    <span *ngIf="errorControl['password'].errors['required']" class="text-danger">
                      {{('PASSWORD' | translate)+' '+('REQUIRED' | translate)}}
                    </span>
                    <span *ngIf="errorControl['password'].errors['minlength']" class="text-danger">
                      {{('MINPASS' | translate)}}
                    </span>
                  </div>
                </div>

                <button class="btn btn-dark btn-lg btn-block justify-content-center mb-2" type="submit" (click)="doRegister()">{{'REGISTER' |
                  translate}}</button>
                <p class="mb-5 pb-lg-2" style="color: black;">{{'HAVEACC' | translate}}
                  <a routerLink="login" routerLinkActive="active" style="color: #fb0606;">
                    {{'LOGIN' | translate }}
                  </a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>