<section class="p-5 bg-image" style="background-color: #131ae8; height: 300px;">
  <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                  <div class="row g-0">
                      <div class="col-md-6 col-lg-5 d-none d-md-block">
                              <ng-lottie [options]="lottieConfig"></ng-lottie>
                      </div>
                      <div class="col-md-6 col-lg-7 d-flex align-items-center">
                          <div class="card-body p-4 p-lg-5 text-black">

                              <form [formGroup]="formLogin">

                                  <div class="d-flex align-items-center mb-3 ">
                                      <i style="color: #ff6219;"></i>
                                      <img src="https://i.pinimg.com/474x/10/1a/8a/101a8a4f23dbe77d54194b3705665e67.jpg"
                                          height="50" class="mx-2" alt="angular_logo" />
                                      <span class="h1 fw-bold mb-0">Tabung Sampah</span>
                                  </div>

                                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">{{"SIGNACC" | translate}}
                                  </h5>

                                  <div class="form-outline mb-4">
                                    <label for="exampleFormControlInput1" class="form-label">{{'EMAIL' | translate }}</label>
                                    <input type="email" class="form-control" formControlName="email" name="email"
                                      placeholder="{{('INPUT' | translate)+' '+('EMAIL' | translate)+' '+('HERE' | translate) }}">
                                    <div *ngIf="(errorControl['email'].dirty || errorControl['email'].touched ) && errorControl['email'].errors">
                                      <span *ngIf="errorControl['email'].errors['required']" class="text-danger">{{('EMAIL' | translate)+'
                                        '+('REQUIRED' | translate)}}</span>
                                    </div>
                                  </div>

                                  <div class="form-outline mb-4">
                                    <label for="exampleFormControlInput1" class="form-label">{{'PASSWORD' | translate }}</label>
                                    <div class="input-group">
                                      <input
                                        type="{{isPass ? 'password' : 'text'}}"
                                        class="form-control"
                                        formControlName="password"
                                        placeholder="{{('INPUT' | translate)+' '+('PASSWORD' | translate)+' '+('HERE' | translate) }}"
                                        name="password"
                                      />
                                      <span class="input-group-text" id="basic-addon1">
                                        <i class="bi" [ngClass]="isPass ? 'bi-eye' : 'bi-eye-slash'" (click)="doChangeType()"></i>
                                      </span>
                                    </div>
                                    <div
                                      *ngIf="(errorControl['password'].dirty || errorControl['password'].touched ) && errorControl['password'].errors">
                                      <span *ngIf="errorControl['password'].errors['required']" class="text-danger">
                                        {{('PASSWORD' | translate)+' '+('REQUIRED' | translate)}}
                                      </span>
                                      <span *ngIf="errorControl['password'].errors['minlength']" class="text-danger">
                                        {{('MINPASS' | translate)}}
                                      </span>
                                    </div>
                                  </div>

                                  <div class="pt-1 mb-4">
                                      <button class="btn btn-dark btn-lg btn-block" (click)="doLogin()">{{'LOGIN' | translate}}</button>
                                  </div>
                                  
                                  <p class="mb-5 pb-lg-2" style="color: black;">{{'DONTHAVEACC' | translate}} 
                                    <a routerLink="/register" routerLinkActive="active" style="color: #fb0606;">
                                      {{('REGISTER' | translate)+' '+('HERE' | translate) }}
                                    </a>
                                  </p>
                              </form>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>