<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid mx-5">
    <a class="navbar-brand" href="#">
      <img
        src="https://i.pinimg.com/564x/9f/71/15/9f7115f23a3da8aae0fb243ed9a5d1e2.jpg"
        alt="Bootstrap"
        width="50"
        height="50"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">{{'LOGIN' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active">{{'REGISTER' | translate}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{'LANGUAGE' | translate}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item"(click)="doTranslate('id')">(ID) Indonesia</a></li>
            <li><a class="dropdown-item" (click)="doTranslate('ind')">(IND) इंडिया</a></li>
            <li><a class="dropdown-item" (click)="doTranslate('en')">(EN) English</a></li>
            <li><a class="dropdown-item" (click)="doTranslate('ar')">(AR) عربي</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

